Package: hexowl
Version: 1.3.0
Priority: optional
Maintainer: Timofey Korolik <https://github.com/dece2183>
Homepage: https://github.com/dece2183/hexowl
Vcs-Git: git://github.com/dece2183/hexowl.git
Architecture: amd64
Section: math
Build-Depends: golang (>= 18.0)
Description: Lightweight and flexible programmer's calculator with user variables and functions support.
